<template>
  <div>
    <p class="login_title"><b>人人权限系统</b></p>
    <div class="login_main">
      <p class="login-box-msg">管理员登录</p>
      <div v-if="error" class="alert alert-danger alert-dismissible">
        <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" v-model="username" placeholder="账号">
        <span class="glyphicon glyphicon-user form-control-feedback pic1"></span<template>
          <div>
            <p class="login_title"><b>人人权限系统</b></p>
            <div class="login_main">
              <p class="login-box-msg">管理员登录</p>
              <div v-if="error" class="alert alert-danger alert-dismissible">
                <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
              </div>
              <div class="form-group has-feedback">
                <input type="text" class="form-control" v-model="username" placeholder="账号">
                <span class="glyphicon glyphicon-user form-control-feedback pic1"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" class="form-control" v-model="password" placeholder="密码">
                <span class="glyphicon glyphicon-lock form-control-feedback pic2"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="text" class="form-control" v-model="captcha" @keyup.enter="login" placeholder="验证码">
                <span class="glyphicon glyphicon-warning-sign form-control-feedback pic3"></span>
              </div>
              <div class="form-group has-feedback">
                <div class="login_refresh">
                  <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
                  &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="refreshCode">点击刷新</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <button type="button" class="btn" @click="login">登录</button>
                </div>
              </div>
            </div>
          </div>
        </template>

        <script>
        export default {
          name: 'HelloWorld',
          data () {
            return {
              username: '',
              password: '',
              captcha: '',
              src: '',
              error: false,
              errorMsg: 'login error!',
              msg: 'Welcome to Your Vue.js App'
            }
          },
          methods: {
            refreshCode: function () {
            },
            login: function (event) {
              this.$http.post('http://47.98.172.231:8002/login', {username: this.username, password: this.password}, {emulateJSON: true}).then(
                function (res) {
                  console.log(res)
                  if (res.body.code === 0) {
                    this.$router.push({
                      path: '/main',
                      name: 'Main'
                    })
                  } else {
                    console.log(res)
                    this.error = true
                    this.errorMsg = res.body.msg
                  }
                }
              )
            }
          }
        }
        </script>
        <style>
        @import "../../css/login.css"
        </style>

      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" v-model="password" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback pic2"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" v-model="captcha" @keyup.enter="login" placeholder="验证码">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback pic3"></span>
      </div>
      <div class="form-group has-feedback">
        <div class="login_refresh">
          <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="refreshCode">点击刷新</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn" @click="login">登录</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      username: '',
      password: '',
      captcha: '',
      src: '',
      error: false,
      errorMsg: 'login error!'
    }
  },
  methods: {
    refreshCode: function () {
    },
    login: function (event) {
      this.$http.post('http://47.98.172.231:8002/renren-admin/sys/login', {username: this.username, password: this.password}, {emulateJSON: true}).then(
        function (res) {
          console.log(res)
          if (res.body.code === 0) {
            this.$router.push({
              path: '/main',
              name: 'Main'
            })
          } else {
            console.log(res)
            this.error = true
            this.errorMsg = res.body.msg
          }
        }
      )
    }
  }
}
</script>
<style>
@import "../../css/login.css"
</style>
