html{
  height: auto;
  font-family: sans-serif;
  font-size: 20px;
  display: block;
}
body{
  font-weight: 400;
  line-height: 1.42857143;
  color: #fff;
  background-color: #fff;
  margin: 0;
}
.main{
  background-color: #222d32;
  position: relative;
}
.main_header{
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
a{
  cursor: pointer;
  text-decoration: none;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
a:active{
  color: white;
  background-color: #367fa9;
}
a:hover{
  color: white;
  background-color: #367fa9;
}
.logo{
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  font-weight: 300;
  overflow: hidden;
}
.logo-mini{
  display: none;
}
.navbar{
  position: relative;
  background-color: #3c8dbc;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 50px;
  border-radius: 0;
  font-size: 14px;
  text-align: -webkit-match-parent;
}
.sidebar-toggle{
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px 15px 15px;
    font-family: fontAwesome;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-custom-menu{
  float: right;
}
.navbar-nav{
  float: left;
  padding-left: 0;
  display: block;
  list-style: none;
  min-width: 420px;
}
li{
    position: relative;
    float: left;
    display: block;
}
li a{
  padding: 15px;
}
