html{
  height: auto;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #d2d6de;
}
body{
  text-align: center;
  margin-top: 63px;
}
.login_title{
  font-size: 35px;
  margin-bottom: 25px;
}
.login_main{
  background-color: #fff;
  padding: 20px;
  color: #666;
  width: 320px;
  margin: 0 auto 0 auto;
}
.login-box-msg{
  margin: 0;
  padding: 0 20px 0 20px;
}
.alert-dismissible{
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
}
.form-group {
  position: relative;
}
.has-feedback{
  margin-bottom: 15px;
  padding-right: 28px;
}
.form-control{
  border-color: #d2d6de;
  display: block;
  width: 100%;
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.login_refresh{
  font-size: 12px;
}
.form-control-feedback{
  color: #777;
  position: absolute;
  top: 2px;
  right: 4px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  pointer-events: none;
}
.pic1{
  background-image: url('../src/assets/1.jpg');
}
.pic2{
  background-image: url('../src/assets/2.jpg');
}
.pic3{
  background-image: url('../src/assets/3.jpg');
}
.row {
  margin: 0;
    border-top: 1px solid #ddd;
    padding: 20px 2px 0px 2px;
}
.col-xs-4 {
    width: 80px;
    margin-left: 200px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #3c8dbc;
    border: 1px solid transparent;
    border-radius: 4px;
}
a:link{
  color: blue;
}
a:visited{
  color: black;
}
